<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" type="image/png" href="./images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="./images/favicon-96x96.png" sizes="96x96">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/haskell/haskell.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/mode/simple.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <script src="./syntax-highlighting.js"></script>
        <link rel="stylesheet" href="./styles/style.css">
    <title>goto parser</title>
    </head>
    <body>
        <div id=container>
            <div id=nav>
                <ul class="nav-buttons">
                    <li>
                        <a title="Return to the homepage" id="logo"><h1>Thinterpreters</h1></a>
                    </li>
                    <li>
                        <a href="/" role="tab"><button id="home" class="button6">Home</button></a>
                    </li>
                    <li>
                        <a href="documentation" role="tab"><button id="documentation" class="button6">Documentation</button></a>
                    </li>
                    <li>
                        <a href="examples" role="tab"><button id="examples" class="button6">Examples</button></a>
                    </li>
                </ul>
            </div>
            <section class=title>
                <header>
                    <h1>
                        Documentation
                    </h1>
                    <p>
                        GOTO Programs are cool
                    </p>
                </header>
            
    </body>
</html>